###############################################################################
# Kind Cluster Configuration
#
# Copy this file to:
#
# .env
#
# Never commit .env
#
###############################################################################

# Cluster Name
CLUSTER_NAME=platform-lab

# Kubernetes Node Image
#
# We pin the version for reproducibility.
#
# Update intentionally during upgrade lessons.
#
KIND_NODE_IMAGE=kindest/node:v1.34.0

# Number of Workers
#
# Informational for now.
#
WORKERS=3